<div class="contact-sidebar">
    <h3> Contact Information </h3>
    <p>
      Yichun He <br>
      Incoming Assistant Professor <br>
      Siebel School of Computing and Data Science <br>
      University of Illinois Urbana-Champaign <br>
      <br>
      Email: yichunhe (at) illinois (dot) edu <br>
      <!-- Address: TBD <br>
      Office: TBD <br>
      Phone: TBD <br> -->
    </p>

    <h3> Recent News </h3>
    <ul class="list-unstyled">
    {% for post in site.posts limit:5 %}
        <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
</div>
