{% include header.html %}
<div class="container">
   <div style="text-align: center;">
   <img class="img-fluid" src="/static/img/members/group/lab_20240418.jpg" title="our first lab picture" alt="our first lab picture"
    style="width: 55vw; min-width: 330px;">
   </div>
   <div class="row">
       <div class="col-sm-9">
           <br>
           {{ content }}
    </div>
    <div class="col-sm-3 smalltxt">
        <br>
        {% capture sidebar %}{% include alumni_sidebar.md %}{% endcapture %}
        {{ sidebar | markdownify }}
    </div>
</div>
<br>
<!-- <img class="img-fluid" src="/static/img/members/drawings/alumni/recent_alumni.png" alt="We miss our alumni!"> -->
</div>
{% include footer.html %}
